*.log
src/xatra/data/gadm/
src/xatra/data/ne_*
src/xatra/icons/downloaded/
scripts/start_server.sh

!src/xatra/data/ne_10m_rivers.geojson

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

# temp
old/
old_xatra/
tests/*.json
tests/*.html