*.log
src/xatra/data/gadm/
src/xatra/data/ne_*
scripts/start_server.sh

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

# temp
old/
old_xatra/
tests/*.json
tests/*.html
src/xatra/icons/downloaded/